<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Einkaufsliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="content">
      <h1>Einkaufsliste</h1>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash">
          {% for category, msg in messages %}
            <div class="flash-{{ category }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% endwith %}

      <table class="ausgabe" cellpadding="5">
        <tr>
          <th>Menge:</th>
          <th>Einheit:</th>
          <th>Produkt:</th>
          <th></th>
        </tr>
        {% for row in items %}
        <tr>
          <td align="center">{{ row['menge'] }}</td>
          <td align="center">{{ row['einheit'] }}</td>
          <td align="center">{{ row['produkt'] }}</td>
          <td align="center">
            <form method="post" action="{{ url_for('delete', item_id=row['id']) }}">
              <button type="submit">Löschen</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <br>

      <table class="eingabe" cellpadding="2">
        <form method="post" action="{{ url_for('add') }}">
          <tr>
            <td>Menge:</td>
            <td><input type="number" name="menge"></td>
          </tr>
          <tr>
            <td>Einheit:</td>
            <td>
              <select name="einheit">
                <option value=""></option>
                <optgroup label="Gewicht">
                  <option value="Gramm">Gramm</option>
                  <option value="Kilo">Kilo</option>
                </optgroup>
                <optgroup label="Volumen">
                  <option value="Milliliter">Milliliter</option>
                  <option value="Liter">Liter</option>
                </optgroup>
                <optgroup label="Packungseinheit">
                  <option value="Flasche">Flasche</option>
                  <option value="Tube">Tube</option>
                  <option value="Dose">Dose</option>
                  <option value="Stück">Stück</option>
                  <option value="Pack">Pack</option>
                  <option value="2er Pack">2er Pack</option>
                  <option value="4er Pack">4er Pack</option>
                  <option value="6er Pack">6er Pack</option>
                  <option value="8er Pack">8er Pack</option>
                  <option value="10er Pack">10er Pack</option>
                  <option value="24er Pack">24er Pack</option>
                </optgroup>
              </select>
            </td>
          </tr>
          <tr>
            <td>Produkt:</td>
            <td><input type="text" name="produkt"></td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <input type="submit" name="eintragen" value="Produkt hinzufügen">
            </td>
          </tr>
        </form>
      </table>
    </div>
  </body>
</html>
