 	body {
 	    
 	    font-family: Century Gothic;
 	    
 	}
 	#content {
 	    background: white;
 	    
 	}
 	h1 {
 	    color: grey;
 	    
 	}
 	.ausgabe {
 	    background: #D4D4D4;
 	    
 	}
 	.ausgabe th {
 	    background: orange;
 	    
 	}
 	.ausgabe td {
 	    background: #D0D0D0;
 	    
 	}
 	.eingabe {
 	    background: lightgrey; 
 	    border: 2px solid;
 	    
 	}
 	